<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/css/kube.min.css" />
	<link href='http://fonts.googleapis.com/css?family=Rambla' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/css/style.css" />
	<link href="http://feeds.feedburner.com/{{ site.author.feedburner }}" rel="alternate" title="{{ page.title }}" type="application/atom+xml">
	{% if 0 > 1 %}
	{% endif %}

</head>
<body>
	<div class="container">
		<div class="row">
			<div class="threequarter centered">
				<h1><a href="{{ HOME_PATH }}">{{ site.title }}</a></h1>
				<h2>{{ site.tagline }}</h2>
				<hr />
				<div class="row container">
					<div class="third">
						<h3>About Me</h3>
						<iframe style="height:550px;" width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=1&isFans=0&uid=1788494145&verifier=53c1e43e&dpc=1"></iframe>
						<br />
						
						<div>
						</div>
					</div>
					<div class="twothird">
						{{ content }}
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
