<h2>{{ page.title }}</h2>
<script type="text/javascript">
  (function(){
    var _w = 16 , _h = 16;
    var param = {
      url:location.href,
      type:'3',
      count:'',
      appkey:'',
      title:'',
      pic:'',
      ralateUid:'1788494145',
      language:'zh_cn',
      rnd:new Date().valueOf()
  }
  var temp = [];
  for( var p in param ){
    temp.push(p + '=' + encodeURIComponent( param[p] || '' ) )
  }
  document.write('<iframe allowTransparency="true" frameborder="0" scrolling="no" src="http://hits.sinajs.cn/A1/weiboshare.html?' + temp.join('&') + '" width="'+ _w+'" height="'+_h+'"></iframe>')
})()
</script>
<p class="small">{{ page.date | date: '%d %B, %Y' }}</p>
<div class="posts">
	{{ content }}
</div>
<div class="social">
	<!-- Override the URL and Title for the button -->
</div>
